/*==========Layouts==========*/
/*========== Skin ======== */
/*======== Styles==========*/
/* Debug Styles */
/*======= Styles for debugging ========= */
/* line 3, ../sass/_debug.scss */
footer > div {
  height: 40px;
}

/* line 6, ../sass/_debug.scss */
.footer__left {
  background: #75a897;
}

/* line 7, ../sass/_debug.scss */
.footer__middle {
  background: #f5be57;
}

/* line 8, ../sass/_debug.scss */
.footer__right {
  background: #9684f3;
}
