/*======= Styles for debugging ========= */

footer > div {
    height: 40px;
}
.footer--double-width { background: #f5be57;}
.footer__left { background: #75a897;}
.footer__right { background: #9684f3;}